/*General*/

body{
    margin: 3vw;
    text-align: center;
}

main {
    padding-top: 3vw;
    background: linear-gradient(to top, #CDE8F1, #FEEAF4);
    border-radius: 2vw;
}

h1{
    font-family: 'VT323', monospace;
    font-size:8vw;
    color: white;
    margin: 0 0 0 0;
}

a{
    position: relative;
    font-family: 'VT323', monospace;
    color: white;
    font-size:10vw;
    display: block;
    text-decoration: none;
}

img {
    margin: 5vw 5vw 5vw 5vw;
    border: 10px solid white;
}

button {
    filter: hue-rotate(80deg);
    background-color: #AFF702 ;
    border:none;
    border-radius: 2vw;
}

/*effect*/

h1 {

}

img:hover {
    filter: hue-rotate(80deg);
}

button:hover{
    background-color: #7BEDFA ;
}

@keyframes h1 {

    }
